<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>杨青个人</title>
    <meta name="keywords" content="关键词,关键词,关键词,关键词,5个关键词" />
    <meta name="description" content="网站简介，不超过80个字" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="__STATIC__/index/css/index.css" rel="stylesheet">
    <script src="__STATIC__/index/js/jquery.min.js" ></script>
    <script src="__STATIC__/index/js/comm.js" ></script>
    <!--[if lt IE 9]>
    <script src="__STATIC__/index/js/modernizr.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <div class="logo">杨青个人博客</div>
    <div class="top-nav">
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="nav">
            <li><a href="index.html">网站首页</a></li>
            <li><a href="list.html">个人博客日记</a></li>
            <li><a href="/2">个人博客模板</a></li>
            <li><a href="/3">博客网站制作</a></li>
            <li><a href="/4">网页设计心得</a></li>
            <li><a href="/5">优秀个人博客</a></li>
            <li><a href="/5">关于我</a></li>
            <li><a href="/5">留言</a></li>
        </ul>
    </div>
    <div class="search">
        <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
            <input name="keyboard" id="keyboard" class="input_text" value="搜索你喜欢的" style="color: rgb(153, 153, 153);" onfocus="if(value=='搜索你喜欢的'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='搜索你喜欢的'}" type="text">
            <input name="show" value="title" type="hidden">
            <input name="tempid" value="1" type="hidden">
            <input name="tbname" value="news" type="hidden">
            <input name="Submit" class="input_submit" value="" type="submit">
        </form>
    </div>
</header>
<aside class="side">
    <div class="about"> <i><a href="/"><img src="__STATIC__/index/images/avatar.jpg"></a></i>
        <p>杨青，一个80后草根女站长！09年入行。一直潜心研究web前端技术，一边工作一边积累经验，分享一些个人博客模板，以及SEO优化等心得。</p>
    </div>
    <div class="weixin"> <img src="http://www.yangqq.com/skin/html/images/wx.jpg">
        <p>关注我 么么哒！</p>
    </div>
</aside>
{block name='body'}
{/block}
<a href="#" class="cd-top cd-is-visible">Top</a>
</body>
</html>
